*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: #ffffff;
}
*::-webkit-scrollbar{
    display: none;
}

.continer{
    min-width: 100%;
    height: 100vh;
    background: url('../img/DELHI.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    text-align: center;
    display: flex;
    opacity: .8;
    height: 80px;
}
.top .logo{
    color: rgb(209, 45, 78);
    margin-top: 2%;
    margin-left: 5%;
    animation: scale 1s ease-in-out infinite;
}
@keyframes scale{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.2);
    }
}
.top nav{
    margin-top: 2%;
    margin-left: 35%;
}
li,nav ul li a{
    width: 100px;
    list-style: none;
    padding: 2%;
    margin-left: 10%;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(209, 45, 78);
    font-size: 20px;
}
ul{
    display: flex;
}
.center{
    width: 650px;
    height: 210px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 30%;
}
.center p,.center h4{
    font-size: 20px;
}

.center h1{
    font-size: 40px;
}
.links a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background: #ffffff;
    padding: 2%;
    border-radius: 10px;
    margin-left: 2%;
}
.top i{
    display: none;
}
span{
    color:#00C9A7
}
p span{
    color: rgb(221, 65, 96);
}
.active{
    background:#00C9A7;
    color: #ffffff;
    cursor: pointer;
}
a:hover{
    border-bottom : 2px solid rgb(27, 221, 156);
    color: #00C9A7;
    
}
@media screen and (max-width:450px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .top nav{
        display: none;
    }
    .top .logo{
        margin-top: 6%;
        margin-left: 25%;
        font-size:20px;
    }
    .top i{
        display: inline;
        transition: all .2s ease-in-out;
        position: absolute;
        top: 2%;
        left: 2%;
    }
    .top .Active{
        top: 10%;
        left: -10%;
    }
    .top .Active ul{
        display: flex;
        flex-direction: row;
        /* z-index: 999; */
        background-color: #00C9A7;
    }
    .center{
        top: 45%;
        left:-40%;
        display: grid;
            
        align-items: center;
        justify-content: center;
    }
    .center p,.center h4{
        font-size: 20px;
    }
    .center .dis{
        width: max-content;
    }
    .center .links{
        margin-top: -30%;
    }
    .center h1{
        font-size: 23px;
    }
    .links a{
        font-size: 15px;
    }
}
